{% extends "orders/base.html" %}

{% block title %}
    Your Orders
{% endblock %}

{% block body %}
{% if orders %}
<h1>Here are your orders.</h1>
    <table>
        <tbody>
            <tr>
                <th> pizza Details |</th>
                <th>Number of Pizzas |</th>
                <th> Total |</th>
                <th> Status |</th>
            </tr>
            {% for ordr in orders %}
                <tr>
                    <td>{{ ordr.pizzaname }}|  </td>
                    <td>{{ ordr.count }}|   </td>
                    <td>${{ ordr.total }}|  </td>
                    <td>{{ status }}|</td>
                    <td><form action="{% url 'orders:cancelorder' order_id=ordr.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Cancel order">
                        <small>NOTE: You can't undo this action.</small>
                    </form></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h3>Total: ${{ tp }}</h3>
    {% else %}
    <h3>You have no orders.<a href="{% url 'orders:cart_items' %}">Click here</a> to place an order.</h3>
    {% endif %}
{% endblock %}